body{
  background:  #307a55;
  margin: 0;
  padding: 0;

}
h1 {
  text-align: center;
}
.caixa1 {
  position:absolute;
  background:  rgb(209, 218, 136);
  width: 200px;
  height: 200px;
  color:  black;
  left: 40%;
}
.caixa2 {
  position: absolute;
  background: rgb(209, 218, 136);
  width: 200px;
  height: 200px;
  color: black;
  left: 55%;
}
.menuPrincipal {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: rgb(74, 141, 143);
  top: 0;
  left: 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: #40ff8f;
  padding: 14px 16px;
text-align: center;
text-decoration: none;
}
li a:hover {
  color: antiquewhite;
}
#image {
  width: 35%;

}
.boxImage {
  position: absolute;
  width: 40%;
  height: 30%;
  background: #40ff8f;
  top: 50px;
  left: 0;
  margin: 20px;
  border-color: #25c266;
  border-width: 20px;
  border-style: solid;
  padding: 20px;

}
.conteudo {
  position: absolute;
  top: 45px;

}
#rodape {
  width: 100%;
  height: 40px;
  background: #307a55;
  color: black;
}